.App {
  text-align: center;
}

body {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  min-height: 100vh; /* Ensures the background covers the full height */
}

.both
{
    display:flex;  
    max-width: 100%;
    gap:20px;
    justify-content: center;
}

.option
{
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.first
{
    justify-content: center;
    background-color: lightblue;
    padding:8px;
    width:25px;
    height:25px;
    text-align: center;
}

.second
{
    justify-content: center;
    background-color: lightpink;
    padding:8px;
    width:25px;
    height:25px;
    text-align: center;
}

.entry {
  text-align: center;
  color: rgb(31, 30, 30);
  margin-top: 20%;
  font-size: x-large;
  font-weight: 700;
}

