.App {
  text-align: center;
}

#both
{
    display:flex;  
    max-width: 100%;
    gap:20px;
    justify-content: center;
}

#option
{
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

#X
{
    justify-content: center;
    background-color: lightblue;
    padding:8px;
    width:20px;
    height:20px;
    text-align: center;
}

#O
{
    justify-content: center;
    background-color: lightpink;
    padding:8px;
    width:20px;
    height:20px;
    text-align: center;
}

